html {
}
body {
}

.circle {
	width: 50px;
	height: 50px;
	background: #0BB5FF;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.littleCircle {
	width: 35px;
	height: 35px;
	background: blue;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  position: relative;
  top: 7px; left: 7px;
}
.fa-mobile {
  position: relative;
  top: 2px; left: 11px;
  color: white;
}
.fa-desktop {
  position: relative;
  top: 9px; left: 9px;
  color: white;
}
.fa-envelope {
  position: relative;
  top: 9px; left: 10px;
  color: white;
}
.fa-tablet {
  position: relative;
  top: 3px; left: 8px;
  color: white;
}
.fa-globe {
  position: relative;
  top: 1px; left: 5px;
  color: white;
}
.dateTime {
  text-align: left;
}
h3.lightBlue {
  margin:0;
  color: #0BB5FF;
  font-size: 25px;
}
h3.blue {
  margin:0;
  color: #2F64DE;
  font-size: 25px;
}
p.time {
  margin-bottom: 0;
  color: lightgrey;
}
p {
  margin-bottom: 0;
}
.circleMove {
  float: right;
  position: relative;
  bottom: 45px;
}
.greensBox {
padding-bottom: 35px;
}
.greensTime {
  padding-bottom: 20px;
}
.greensInnerBox {
  background-color: #0BB5FF;
  text-align: center;
  color: white;
  border-radius: 5px;
}
.sproutsInnerBox {
  background-color: #2F64DE;
  text-align: center;
  color: white;
  border-radius: 5px;
}
.greensBottomBody {
border-top: 1px solid white;
padding-bottom: 25px;
}
.greenscircleMove {
  float: right;
  position: relative;
  bottom: 35px;
}
@media screen and (min-width: 800px) {
  .greensInnerBox {
    float:left;
    width: 700px;
    text-align: left;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 30px
}
.sproutsInnerBox {
  float:left;
  width: 700px;
  text-align: left;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 30px
}
.greensInnerHead {
  margin-top: 40px;
}
.greensTime {
  width: 12%;
  float: left;
}
.extraTime {
  width: 60px;
  text-align: right;
}
.greenscircleMove {
  position: relative;
  bottom: relative;
  bottom: 55px;
}
.circle {
  width: 50px;
  height: 50px;
  background: #0BB5FF;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.littleCircle {
  width: 35px;
  height: 35px;
  background: blue;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  top: 7px; left: 7px;
}
.fa-mobile {
  position: relative;
  top: 2px; left: 11px;
  color: white;
}
.greenscircleMove {
  float: right;
  position: relative;
  bottom: 55px; right: 10px;
}
}
/* end of media screen 750px*/
@media screen and (min-width : 1000px) {
  .greensInnerBox {
    float:left;
    width: 900px;
    text-align: left;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 30px
  }
  .sproutsInnerBox {
    float:left;
    width: 900px;
    text-align: left;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 30px
  }
  .greensInnerHead {
    margin-top: 40px;
  }
  .greensTime {
    width: 12%;
    float: left;
  }
  .extraTime {
    width: 60px;
    text-align: right;
  }
  .greenscircleMove {
    position: relative;
    bottom: relative;
    bottom: 55px;
  }
  .circle {
  	width: 50px;
  	height: 50px;
  	background: #0BB5FF;
  	-moz-border-radius: 50px;
  	-webkit-border-radius: 50px;
  	border-radius: 50px;
  }
  .littleCircle {
  	width: 35px;
  	height: 35px;
  	background: blue;
  	-moz-border-radius: 50px;
  	-webkit-border-radius: 50px;
  	border-radius: 50px;
    position: relative;
    top: 7px; left: 7px;
  }
  .fa-mobile {
    position: relative;
    top: 2px; left: 11px;
    color: white;
  }
  .greenscircleMove {
    float: right;
    position: relative;
    bottom: 55px; right: 10px;
  }
}



/*@media screen and (min-width : 1000px) {*/



  }

  /*end of media screen 1000px*/
